.quote-component {
  margin-top: 5%;
}

nav {
  display: inline-block;
}

ul {
  display: inline-block;
  padding-left: 0px;
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

ul button {
  width: 100px;
  height: 35px;
}
