.meme-container {
  background: #333333;
  overflow: auto;
}

.meme {
  display: inline-block;
  float: left;
  background: #EEEEEE;
  width: 29%;
  height: 29%;
  margin: 1% 2%;
}

.meme img {
  width: 250px;
  height: 250px;
}

.meme-title {
  font-size: 32px;
  /*text-align: center;*/
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons button {
  margin: 1%;
}

.edit-meme {
  background: red;
  border: none;
}

.delete-meme {
  background: red;
  border: none;
}
