<section class="meme-container-header">
  <app-filter></app-filter>
  <app-meme-per-page></app-meme-per-page>
</section>

<section class="meme-container" *ngIf="memesForDisplay">
<!--  <div class="meme">-->
<!--    <div class="meme-title"> Test </div>-->
<!--    <img src="/src/assets/Manager.jpg" alt="I hope you can't see this">-->
<!--  </div>-->
  <div class="meme" *ngFor="let meme of getMemesForDisplay()">
    <div class="meme-title"> {{ meme.getTitle() }} </div>
    <img src="{{ meme.getImageURL() }}" alt="I hope you can't see this">
    <div class="buttons">
      <button class="edit-meme" (click)="editMeme(meme)">EDIT</button>
      <button class="delete-meme" (click)="deleteMeme(meme)">DELETE</button>
    </div>
  </div>
</section>
<app-paginator></app-paginator>
