<section class="domain-selector">
  <div class="dropdown">
    <button class="dropbtn">

    <ng-container
      *ngIf="currentDomain; then loggedIn; else loggedOut">
    </ng-container>

    <ng-template #loggedIn>
        {{ currentDomain.getName() }}
    </ng-template>

    <ng-template #loggedOut>
        Please select meme domain
    </ng-template>
    </button>

    <div class="dropdown-content">
      <a *ngFor="let domain of domains" href="{{ domain.getAddress() }}">
        {{ domain.getName() }}
      </a>
    </div>
  </div>
</section>
