<section class="domain-selector">
  <div class="dropdown">
    <button class="dropbtn">

    <ng-container
      *ngIf="getCurrentDomain(); then loggedIn; else loggedOut">
    </ng-container>

    <ng-template #loggedIn>
        {{ getCurrentDomain().getName() }}
    </ng-template>

    <ng-template #loggedOut>
        Please select meme domain
    </ng-template>
    </button>

    <div class="dropdown-content">
      <div class="option" *ngFor="let domain of domainService.getDomains()" (click)="setDomain(domain)">
        {{ domain.getName() }}
      </div>
    </div>
  </div>
</section>
